# Ignore docs folder
docs/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env/

# Ignore embeddings or large data
embeddings/

# Ignore OS-specific files
.DS_Store
Thumbs.db
